<div class="container-fluid">
	<div class="row big">
		<a href="<%= asset_path pages_batman_path %>">
			<div class="col-md-6 text-center big" id="batman">				
					<h1>I am Batman</h1>			
			</div>
		</a>
		<a href="<%= asset_path pages_batman_path %>">
			<div class="col-md-6 text-center big" id="superman">
				<h1>This looks like a job for Superman</h1>			
			</div>
		</a>
	</div>
	<% if params[:response].present?  %>
	<div class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		<%= params[:response] %>
	</div>
	<% end  %>
</div>
<script>
	$("#batman").backstretch("<%= asset_path 'bg_batman.jpg' %>");
	$("#superman").backstretch("<%= asset_path 'bg_superman.jpg' %>");
</script>
